/* boton flotante*/
.flotante {
    display:scroll;
        position:fixed;
        bottom:50px;
        right:20px;

        &flotante a {
            font-size:xx-large ;
                color: rgb(41, 30, 195);
}        
       
}


