/* Secion de contacto */
.wrapper {
    text-align: center;
}

.btn {
    width: 35%;
    margin-top: 10px;
}
#descripcionConsulta {
    background-color:white ;
    
}

.consulta {
    margin-top: 15px;
}
