/* Seccion de informacion */
.informacion__horarios {
   
        .informacion__horarios p {
            margin: 3px; 
            display: flex;
            flex-direction: column;

}
b {
    margin-left: 20px;
}
@media (max-width: 768px) {
    .informacion__horarios {
        display: block;
    }
}
}