/* menu de navegacion */
.navbar {
    background-color: rgba(236, 215, 215, 0.916);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-family: 'Indie Flower', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}