body {
    background: linear-gradient(to top, rgb(83, 139, 183), white);
}
.logo {
    width: 100px;
}

.navbar {
    background-color: rgb(96, 115, 136);
}

.container {
    margin-top: 10px;
}

.contenido-principal {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 50px 150px;
}

@media (max-width: 640px) {
    .container {
        display: none;
    }

}

.carousel-item img {
    width: 1900px;
    height: 500px;
}

main {
    grid-area: principal;
    padding: 10px;
    margin: 100px;

}

main form ul li {
    list-style: none;

}

@media (min-width: 768px) {
    .contenido-principal {
        display: flex;
    }
}

.card img {
    width: 200px;
    height: 200px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: auto;
    background-color: rgb(183, 192, 202);
    color: rgb(7, 9, 9);
    padding: 15px;
    background-size: cover;
    margin-top: px;
    margin-bottom: 10px;
    
}

.wrapper {
    text-align: center;
}

.btn-primary {
    width: 35%;
    margin-top: 10px;
}
#descripcionConsulta {
    background-color:white ;
}

.informacion__horarios {
    display: flex;
    gap: 10px
}

.informacion__horarios p {
    margin: 3px;

}
@media (max-width: 768px) {
    .informacion__horarios {
        display: block;
    }
}

@media (max-width:391px) {
    .parrafo {
        display: block;
    }
}

footer {
    grid-area: pie;
    
}


footer{
    flex-grow: 2;
    list-style: none;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 10px;
    margin: 100px;
    
}

footer a {
    display: block;
    background-color: rgb(20, 37, 52);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    font-size: 18px;
    text-align: center;
    color: rgb(197, 193, 193);
    padding: 10px;
    border: solid 1px;
    margin-top: 30px;

}
@media (min-width: 768px) {
    .pie__pagina {
        display: flex;
        justify-content: center;
        gap: 20px;
        
    }
}
